.primary-button {
  width: auto;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 1.6rem;
  padding: 10px;
  appearance: auto;
  max-width: max-content;
  color: var(--primary-color);
  cursor: pointer;

  transition: all 0.3s ease;
}

.button-image {
  width: 2.5rem;
  height: 2.5rem;
  border: 1.5px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

/* cambio la imagen de fondo cuando cambia de clase */
.button-image.active div {
  background-image: url("/assets/corazon-relleno.png");
}

.favorite-button div {
  background-image: url("/assets/favoritos.png");
  width: 60%;
  height: 60%;
  background-size: cover;
}

.prev-button div {
  background-image: url("/assets/prev.png");
  width: 60%;
  height: 60%;
  background-size: cover;
}

.next-button div {
  background-image: url("/assets/next.png");
  width: 60%;
  height: 60%;
  background-size: cover;
}

.close-button div {
  background-image: url("/assets/close.png");
  width: 50%;
  height: 50%;
  background-size: cover;
}

/* pongo los hover para que solo funcionen en una pc porque en celulares no funciona correctamente */
@media (hover: hover) and (pointer: fine) {
  .primary-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }

  .button-image:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
  }

  .button-image.active:hover {
    background-color: var(--secondary-color);
  }

  .favorite-button:hover div {
    background-image: url("/assets/corazon-negro.png");
  }
  .button-image.active:hover div {
    background-image: url("/assets/favoritos.png");
  }
  .prev-button:hover div {
    background-image: url("/assets/prev-negro.png");
  }
  .next-button:hover div {
    background-image: url("/assets/next-negro.png");
  }
  .close-button:hover div {
    background-image: url("/assets/close-negro.png");
  }
}
