header {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 20px;
  border-bottom: 1px solid var(--border-color);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 80px;
}

.input-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container input {
  width: 80%;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 10px;
}

.favorites-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites-container img {
  width: 40px;
}

@media (width > 768px) {
  .input-container {
    width: 70%;
  }
}
