main {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tertiary-color);
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 2rem 1rem 2rem 1rem;
  width: 73%;
}

.filters-container h2 {
  font-size: 2.3rem;
}

.title-container {
  margin: 1rem 0 2rem 0;
  text-align: center;
  width: 85%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 75%;
  margin-bottom: 1.6rem;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto 1.5rem auto;
}

@media (width > 768px) {
  h2 {
    font-size: 3rem;
  }
  .input-container {
    width: 70%;
  }
  .pagination-container {
    width: 50%;
  }
}
