.modal-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--secondary-color);
  width: 80vw;
  height: 80vh;
  padding: 0 5vw;
  border: 1px solid red;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-header {
  background-color: var(--secondary-color);
  padding: 5vw 0;
  z-index: 4;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: end;
}

.modal-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 12px;
  padding: 2vw;
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.carrousel {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.carrousel-image {
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
}

.carrousel-image.active {
  opacity: 1;
  transform: translateX(0%);
  z-index: 3;
}

.carrousel-image.next {
  opacity: 0;
  transform: translateX(100%);
  z-index: 2;
}

.carrousel-image.last {
  opacity: 0;
  transform: translateX(-100%);
  z-index: 2;
}

.carrousel-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.favorite-container {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

@media (width > 768px) {
  .modal {
    width: 50vw;
    padding: 0 1.5vw;
  }
  .modal-header {
    padding: 1.5vw 0;
  }
  .modal-content {
    padding: 0 5.5vw 1.5vw 5.5vw;
  }
  h3 {
    font-size: 2rem;
  }
  span {
    font-size: 1.2rem;
  }
}
